file_review.ipynb
BDD100K/det_train.json
BDD100K/det_val.json
BDD100K/det_train_merged.json
BDD100K/det_val_merged.json
BDD100K/det_train_traffic_light_relevance.json
BDD100K/det_val_traffic_light_relevance.json
.ipynb_checkpoints/